.page {
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courseBtn {
    display: inline-block;
    margin: 10px auto;
    height: 90px;
    width: 450px;
    border: solid 13px;
    border-radius: 50px;
    align-items: center;
    font-family: "Hiragino Sans","ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 3px 2px rgba(110, 100, 150, 0.6);
}

.title {
    font-family: "Hiragino Sans","ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 25px;

    margin-bottom: 50px;
}

.easy {
    border-color: #68BFFE;
    background-color: rgb(242, 246, 248);
    transition: background-color 0.3s, color 0.3s;
}

.easy:hover {
    background-color: #68BFFE;
}

.normal {
    border-color: #FFC700;
    background-color: rgb(247, 246, 239);
    transition: background-color 0.3s, color 0.3s;
}

.normal:hover {
    background-color: #FFC700;
}

.hard {
    border-color: #F6815C;
    background-color: rgb(245, 239, 237);
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 50px;
}

.hard:hover {
    background-color: #F6815C;
}

.toTitle {
    display: block;
    color: #1D1E22;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
}
