body {
    text-align: center;
    font-weight: 600;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-size: 20px;
}

p {
    font-size: 35px;
    color: rgb(57, 11, 11);
}

.image {
    margin-top: 80px;
}
