body {
    margin: 0;
    padding: 0;

    /* backgroud */
    background-color: #C6ECFF;
    background-image: url(./images/background.png);
    background-size: cover;

    /* font */
    color: #1D1E22;
}
